################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/Kodaghu.Base/bin/Debug
/Common/Kodaghu.Base/obj/Debug
/Common/Kodaghu.Components/bin/Debug
/Common/Kodaghu.Components/obj/Debug
/Common/Kodaghu.Components.Droid/bin/Debug
/Common/Kodaghu.Components.Droid/obj/Debug
/Common/Kodaghu.Components.iOS/bin/Debug
/Common/Kodaghu.Components.iOS/obj
/MemberClient/Member.Client/bin/Debug
/MemberClient/Member.Client/obj/Debug
/MemberClient/Member.Client/packages
/MemberClient/Member.Mobile/bin/Debug
/MemberClient/Member.Mobile/obj/Debug
/MemberClient/Member.Mobile.Droid/bin/Debug
/MemberClient/Member.Mobile.Droid/obj/Debug
/MemberClient/Member.Mobile.iOS/bin
/MemberClient/Member.Mobile.iOS/obj
/MemberClient/Member.Wpf.Test/obj/Debug
/MerchantClient/Desktop/Merchant.Modules.Login/bin/Debug
/MerchantClient/Desktop/Merchant.Modules.Login/obj/Debug
/MerchantClient/Desktop/Merchant.Simulator/bin/Debug
/MerchantClient/Desktop/Merchant.Simulator/obj/Debug
/MerchantClient/Desktop/Merchant.Simulator.Common/bin/Debug
/MerchantClient/Desktop/Merchant.Simulator.Common/obj/Debug
/MerchantClient/Desktop/Merchant.Simulator.Infrastructure/bin/Debug
/MerchantClient/Desktop/Merchant.Simulator.Infrastructure/obj/Debug
/MerchantClient/Desktop/Merchant.Simulator.Modules.Api/bin/Debug
/MerchantClient/Desktop/Merchant.Simulator.Modules.Api/obj/Debug
/MerchantClient/Desktop/Merchant.Simulator.Modules.News/bin/Debug
/MerchantClient/Desktop/Merchant.Simulator.Modules.News/obj/Debug
/MerchantClient/Merchant.Client/bin
/MerchantClient/Merchant.Client/obj
/MerchantClient/Merchant.Mobile/bin
/MerchantClient/Merchant.Mobile/obj
/MerchantClient/Merchant.Mobile.Droid/bin/Debug
/MerchantClient/Merchant.Mobile.Droid/obj
/MerchantClient/Merchant.Mobile.iOS/bin/iPhoneSimulator/Debug
/MerchantClient/Merchant.Mobile.iOS/obj
/MerchantClient/packages
/MerchantClient/Simulator/BackstageModule/bin
/MerchantClient/Simulator/BackstageModule/obj
/MerchantClient/Simulator/Infrastructure/bin
/MerchantClient/Simulator/Infrastructure/obj
/MerchantClient/Simulator/QuickAccessToolBarModule/bin
/MerchantClient/Simulator/QuickAccessToolBarModule/obj/Debug
/MerchantClient/Simulator/QuickAccessToolBarModule/obj/Release
/MerchantClient/Simulator/RibbonGroupModules/bin
/MerchantClient/Simulator/RibbonGroupModules/obj
/MerchantClient/Simulator/RibbonTabModules/bin
/MerchantClient/Simulator/RibbonTabModules/obj
/MerchantClient/Simulator/RibbonView-Shell/bin
/MerchantClient/Simulator/RibbonView-Shell/obj
/MerchantClient/Simulator Setup/Release
/packages
/MerchantClient/packages
/MemberClient/packages
/Utilities/PushNotificationConsoleApplication/packages
/MerchantClient/Merchant.Mobile.iOS/bin/iPhone/Debug
/Common/Kodaghu.Base/obj/Release
/Common/Kodaghu.Components/obj/Release
/Common/Kodaghu.Components.Droid/obj/Release
/Common/Kodaghu.Base/bin/Release
/Common/Kodaghu.Components/bin/Release
/Common/Kodaghu.Components.Droid/bin/Release
/MemberClient/Member.Client/bin/Release
/MemberClient/Member.Client/obj/Release
/MemberClient/Member.Mobile/bin/Release
/MemberClient/Member.Mobile/obj/Release
/MemberClient/Member.Mobile.Droid/bin/Release
/MemberClient/Member.Mobile.Droid/obj/Release
/MerchantClient/Merchant.Mobile.Droid/bin/Release
/Common/Kodaghu.Components.iOS/bin/Release
/MerchantClient/Merchant.Mobile.iOS/bin/iPhone/Release
/.vs
/MemberClient/.vs/Member Simulator 2017/v14
/MemberClient/Member.Client/.vs/Member.Client/v14
/MerchantClient/Desktop/Merchant.Modules.Login/Merchant.Modules.Login.csproj.vspscc
/MerchantClient/Desktop/Merchant.Simulator.Modules.News/Merchant.Simulator.Modules.News.csproj.vspscc
/MerchantClient/Desktop/Merchant.Simulator.Modules.Api/Merchant.Simulator.Modules.Api.csproj.vspscc
/MerchantClient/Desktop/Merchant.Simulator.Infrastructure/Merchant.Simulator.Infrastructure.csproj.vspscc
/MerchantClient/Desktop/Merchant.Simulator.Common/Merchant.Simulator.Common.csproj.vspscc
/MerchantClient/Desktop/Merchant.Simulator/Merchant.Simulator.csproj.vspscc
/MerchantClient/Simulator/RibbonView-Shell/Simulator-2017.csproj.vspscc
/MerchantClient/Simulator/RibbonTabModules/RibbonTabModules.csproj.vspscc
/MerchantClient/Simulator/RibbonGroupModules/RibbonGroupModules.csproj.vspscc
/MerchantClient/Simulator/QuickAccessToolBarModule/QuickAccessToolBarModule.csproj.vspscc
/MerchantClient/Simulator/Infrastructure/Infrastructure.csproj.vspscc
/MerchantClient/Simulator/BackstageModule/BackstageModule.csproj.vspscc
/Common/Kodaghu.Components.Droid/obj/Ad-Hoc
/Common/Kodaghu.Components.Droid/Kodaghu.Components.Droid.csproj.vspscc
/Common/Kodaghu.Components/Kodaghu.Components.csproj.vspscc
/Common/Kodaghu.Components.iOS/.vs/Kodaghu.Components.iOS/v14
/MemberClient/Member.Mobile.iOS/Member.Mobile.iOS.csproj.user
/MemberClient/Member.Mobile.Droid/Member.Mobile.Droid.csproj.user
/MemberClient/Member.Client/Member.Client.csproj.vspscc
/MemberClient/Member.Client/Member.Client.csproj.user
/Common/Kodaghu.Components.iOS/Kodaghu.Components.iOS.csproj.vspscc
/Common/Kodaghu.Components.iOS/Kodaghu.Components.iOS.csproj.user
/MerchantClient/Merchant.Mobile/.vs/Merchant.Mobile/v14
/MerchantClient/Merchant.Mobile.iOS/Merchant.Mobile.iOS.csproj.user
/MerchantClient/Merchant.Mobile.Droid/Merchant.Mobile.Droid.csproj.user
/MerchantClient/Merchant.Client/Merchant.Client.csproj.user
/MemberClient/Member.Wpf.Test/Member.Wpf.Test.csproj.vspscc
Common/Kodaghu.Components.Droid/Kodaghu.Components.Droid.csproj.bak
*.bak
/MemberClient/Simulator
/MemberClient/.vs/Member Simulator 2017/v15/.suo
.droidres/.member mobile master.droidres.db
Member Mobile Master.userprefs
Merchant Mobile Master.userprefs
MemberClient/Member.Mobile.Droid/obj/
Components/
